/*BODY FORMAT*/
body{
	font-family: 'Caveat', cursive;
	background-color: #F3ECE2;
}

/*HEADING FORMAT*/
h1 {
	text-align: center;
}

/*FOR THE NAVIGATION ARROWS*/
.f_nav img{
	max-height: 60px;
	width: auto;
	position: absolute;
	right:10px;
	top:10px;
	cursor: pointer;
}

.b_nav img{
	max-height: 60px;
	width: auto;
	position: absolute;
	left:10px;
	top:10px;
	cursor: pointer;
}

/*FOR THE TOPIC MENU*/
.top_nav li a{
	cursor: pointer;
	text-decoration: none;
	color: black;
	display: block;
	padding: 14px 16px;
}

.top_nav li{
	float:left;
}

ul.top_nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    border-style:double;
}

.top_nav li a:hover {
    background-image: url("./Images/circle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*DIFFERENT NOTE STYLE*/
.define{
	border-left-style:solid;
	border-left-color: #1976D2;
	border-width: 5px;
	background-color: #BBDEFB;
	padding: 5px 5px 5px 10px;
	text-align: left;
}

.define.red{
	background-color: #FFCDD2;
	border-left-color: #D32F2F;
}

.define.orange{
	background-color: #FFCCBC;
	border-left-color: #E64A19;
}

.define.purple{
	background-color: #D1C4E9;
	border-left-color: #512DA8;
}

.define.green{
	background-color: #C8E6C9;
	border-color: #388E3C;
}

.define.yellow{
	background-color: #FFF9C4;
	border-color: #FBC02D;
}

.define.grey{
	background-color: #CFD8DC;
	border-color: #455A64;
}

/*Side by side divs*/

.left div, .right div{
	border-color: black;
	border-style: double;
	padding: 10px;
}

.compare h3, .compare h2{
	text-align: center;
	border-top-color, border-bottom-color: black; 
	border-top-style: double;
	border-bottom-style: double;
	width:auto;
	background-color: #FFC107;
}

.compare img{
	max-height: 300px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.compare{
	display: table;
	box-sizing: border-box;
	width:50%;
	padding:20px;
}

.left{
	float:left;
}

.right{
	float:right;
}

/*Full width div*/

.img_exp{
	box-sizing: border-box;
	position: relative;
	display:block;
	float:left;
	width:100%;
	padding:20px;
}

.img_exp div{
	border-color: black;
	border-style: double;
	padding:20px;
}

.img_exp img{
	display:block;
	margin-right: auto;
	padding: 5px 0 5px 10px;
	height: 300px;
	max-width: 400px;
}

.img_exp p{
	display:block;
}

p, ul{
	font-size: 1.8vw;
}

/*Resize window*/

@media screen and (max-width:800px) {
  .left, .right {
    width:100%;
    float: left;
  }

  p, ul{
  	font-size: 24px;
  }
}
