body{
	font-family: 'Caveat', cursive;
	background-color: #F3ECE2;
}

/*FOR THE NAVIGATION ARROWS*/

.f_nav img{
	max-height: 60px;
	width: auto;
	position: absolute;
	right:10px;
	top:10px;
	cursor: pointer;
}

.b_nav img{
	max-height: 60px;
	width: auto;
	position: absolute;
	left:10px;
	top:10px;
	cursor: pointer;
}

/*FOR THE TOPUC NAVIGATION*/
.top_nav li{
	cursor: pointer;
}

h1{
	text-align:center;
}